- provide(:title, 'Listing credit cards')
%h1 Listing credit cards

%table.table.table-striped
  %thead
    %tr.heading
      %th= t('firstname')
      %th= t('lastname')
      %th= t('number')
      %th= t('cvv')
      %th= t('expiration_month')
      %th= t('expiration_year')
      %th
      %th
      %th
  %tbody
    - @credit_cards.each do |credit_card|
      %tr
        %td= credit_card.firstname
        %td= credit_card.lastname
        %td= credit_card.number
        %td= credit_card.cvv
        %td= credit_card.expiration_month
        %td= credit_card.expiration_year
        %td= link_to t('show'), credit_card
        %td= link_to t('edit'), edit_credit_card_path(credit_card)
        %td= link_to t('destroy'), credit_card, :method => :delete, :data => { :confirm => t('comfirm') }

%br

= link_to t('new_card'), new_credit_card_path
