- provide(:title, 'Show credit card')

%p
  %b= t('firstname')
  = @credit_card.firstname
%p
  %b= t('lastname')
  = @credit_card.lastname
%p
  %b= t('number')
  = @credit_card.number
%p
  %b= t('cvv')
  = @credit_card.cvv
%p
  %b= t('expiration_month')
  = @credit_card.expiration_month
%p
  %b= t('expiration_year')
  = @credit_card.expiration_year

= link_to t('edit'), edit_credit_card_path(@credit_card)
\|
= link_to t('back'), credit_cards_path
