- provide(:title, t('show_author'))
%p
  %b= t('firstname')
  = @author.firstname
%p
  %b= t('lastname')
  = @author.lastname
- if @author.description
  %p
    %b= t('description')
    .tab
      = simple_format(@author.description)
= link_to t('back'), :back
