- provide(:title, 'Profile')
%p
  %b Firstname:
  = current_customer.firstname
%p
  %b Lastname:
  = current_customer.lastname
= link_to "Addresses", addresses_path
\|
= link_to "Credit cards", credit_cards_path
\|

= link_to 'Edit', edit_customer_path
\|
= link_to 'Back', root_path

%br
%br
%b Wish list:

%table.table.table-striped
  %thead
    %tr
      %th Author
      %th Title
      %th
  %tbody
    - current_customer.wished_books.each do |book|
      %tr
        %td= book.authors.first.full_name
        %td= book.title
        %td= link_to "Remove from list", wished_book_path(book), method: 'delete'
