- provide(:title, t('profile'))
%p
  %b= t('email')
  = current_customer.email
%p
  %b= t('firstname')
  = current_customer.firstname
%p
  %b= t('lastname')
  = current_customer.lastname
= link_to t('addresses'), addresses_path
\|
= link_to t('credit_cards'), credit_cards_path
\|

= link_to t('edit'), edit_customer_registration_path
\|
= link_to t('back'), root_path

.space
%h4 Wish list:

- @wished_books.each do |book|
  %hr
  = link_to book.authors.first.full_name, author_path(book.authors.first)
  \-
  = link_to book.title, book_path(book)
  .container
    .thumb-image-wrapper.left
      = link_to image_tag(book.shot.thumb.url), book_path(book)
    .space-thumb
      = book.authors.first.full_name
      = book.title

  = link_to t('rem_from_list'), wished_book_path(book), method: 'delete'

