- provide(:title, t('profile'))
%p
  %b= t('email')
  = current_customer.email
%p
  %b= t('firstname')
  = current_customer.firstname
%p
  %b Lastname:
  = current_customer.lastname
= link_to t('addresses'), addresses_path
\|
= link_to t('credit_cards'), credit_cards_path
\|

= link_to t('edit'), edit_customer_registration_path
\|
= link_to t('back'), root_path

%br
%br
%b Wish list:

%table.table.table-striped
  %thead
    %tr.heading
      %th= t('author')
      %th= t('title')
      %th
  %tbody
    - current_customer.wished_books.each do |book|
      %tr
        %td= book.authors.first.full_name
        %td= book.title
        %td= link_to t('rem_from_list'), wished_book_path(book), method: 'delete'
