- provide(:title, 'Checking book ratings')
%h3 Book ratings:

%table.table.table-striped
  %thead
    %tr.heading
      %th Book
      %th Description
      %th Rating
      %th Action
  %tbody
    -@book_ratings.each do |rating|
      %tr
        %td= rating.book.title
        %td= rating.text
        %td= rating.rating
        %td
          = link_to "Approve", ratings_path(rating), method: 'patch'
          = link_to "Decline", "/ratings/decline/#{rating.id}", method: 'delete'
        