.form-group
  = f.label t('number')
  = f.text_field :number, class: 'form-control'
.form-group
  %b= t('cvv')
  %br
  = f.text_field :cvv, :autocomplete => :off, class: 'form-control miniform'
.form-group
  = f.label t('expiration_month')
  %br
  = f.select :expiration_month, (1..12).map{ |i| '%02d' % i }, {}, class: 'selectpicker miniform'
.form-group
  = f.label t('expiration_year')
  %br
  = f.select :expiration_year, Time.now.year..Time.now.year + 10, {}, class: 'selectpicker miniform'

