%table.table.table-hover
  %thead
    %tr
      %th
      %th= t('book')
      %th= t('price')
      %th= t('quantity')
      %th= t('total')
  %tbody
    - order.order_items.each do |item|
      %tr
        %td
          .thumb-image-wrapper.left
            = link_to image_tag(item.book.shot.thumb.url), book_path(item.book)
        %td.vertical-center
          = item.book.title
          = "(#{item.book.authors[0].firstname} #{item.book.authors[0].lastname})" if item.book.authors.any?
        %td.vertical-center= number_to_currency(item.price)
        %td.vertical-center.center= item.quantity
        %td.vertical-center= number_to_currency(item.quantity * item.price)
    %tr
      %td
      %td
      %td
      %td
        %b= t('item_price')
      %td
        %b= number_to_currency(order.total_price)
    - if order.coupon
      %tr
        %td
        %td.text-right
          %i= "#{t('discount')}: #{order.coupon.discount}%"
        %td
        %td
          %b= t('total_price')
        %td
          %b= number_to_currency(order.discounted_price)
    - if order.delivery
      %tr
        %td
        %td
        %td
        %td
          %b= t('shipping').capitalize
        %td
          %b= number_to_currency(order.delivery.price)
      %tr
        %td
        %td
        %td
        %td
          %b= t('order_tot')
        %td
          %b= number_to_currency(order.discounted_price + order.delivery.price)
