- unless @order.order_items.any?
  %h1.center= t('add_to_cart_first')
- else
  %b= t('order_items')
  = form_for @order, :url => orders_path do |f|
    %table.table.table-hover
      %thead
        %tr
          %th
          %th= t('book')
          %th= t('price')
          %th= t('quantity')
          %th= t('total')
          %th 
      %tbody
        = f.fields_for :order_items do |builder|
          = render 'order_fields', item: builder.object, f: builder
        %tr
          %td
          %td
          %td
          %td
            %b= t('item_price')
          %td
            %b= number_to_currency(@order.total_price)
          %td
        - if @order.coupon
          %tr
            %td
            %td.text-right
              %i= "#{t('discount')}: #{@order.coupon.discount}%"
            %td
            %td
              %b= t('total_price')
            %td
              %b= number_to_currency(@order.discounted_price)
            %td
    .form-inline.right
      = f.label :coupon
      = text_field_tag :coupon_code, '', class: "form-control coupon"
      = f.submit class: 'btn btn-default'
      = f.submit t('check_out'), class: 'btn btn-success' if current_customer

  = link_to t('empty_cart_but'), delete_orders_path, method: :delete, class: 'btn btn-default'
  = link_to t('continue_shopping'), books_path, class: 'btn btn-default'
  = render 'check_out' unless current_customer