%h1= t('list_orders')

= link_to t('recent_orders'), recent_orders_path
\|
= link_to t('all_orders'), orders_path

%h3= @orders.blank? ? t('no_orders') : t('order_items')
- @orders.each do |order|
  .panel.panel-default.row
    .col-xs-12
      %br
      = render 'order', order: order
      %br
      %b= t('ship_addr')
      = order.ship_addr.full
      %br
      %b= t('bill_addr')
      = order.bill_addr.full
      %br
      %b= t('state')
      = order.state
      %br
      %b= t('completed_at')
      = order.completed_at
      %br
.center
  = paginate @orders
%br

= link_to t('continue_shopping'), books_path
