.container.check_out_addr_container
  = link_to t('recent_orders'), recent_orders_path
  \|
  = link_to t('all_orders'), '/orders'
  %h1= t('list_orders')
  - if current_cart.order_items.any?
    %h4= "In progress"
    = render 'order', order: current_cart
    = link_to 'GO TO CART', cart_orders_path, class: 'btn btn-default'

  -if @orders
    %h4= "Placed"
    %table.table.table-striped
      %thead
        %tr
          %th= t('number_c')
          %th= t('state_c')
          %th= t('completed_at_c')
          %th= t('total_c')
          %th
      %tbody
      - @orders.each do |order|
        %tr
          %td= link_to "R#{order.id}", order_path(order)
          %td= order.state
          %td= order.completed_at
          %td= number_to_currency(order.discounted_price + order.delivery.price)
          %td= link_to t('show'), order_path(order)

    .center
      = paginate @orders
  - else
    %h3= t('no_orders')
  %br

  = link_to t('continue_shopping'), books_path
