- unless @order.order_items.any?
  %h1.center= t('add_to_cart_first')
- else
  %b= t('order_items')
  = render 'order', order: @order, can_cancel: true
  %br
  %h2
    = t('total_price')
    .label.label-info
      = @order.total_price
  

  %h2.center= t('check_out')
  = form_for @order do |f|
    .panel.panel-default.form-group.row
      .col-xs-12
        .form-group#check-out-ship
          = f.label t('select_ship_addr')
          %br
          = f.collection_select(:ship_addr_id, @addresses, 
                              :id, :full, { :include_blank => t('please_select') }, { class: 'selectpicker' } )
          %br
          = link_to "or add new", '#', class: "tab", id: 'check-out-ship-switch'
        .form-group.hidden#check-out-ship-hidden
          = f.fields_for(:ship_addr) do |user_form|
            = f.label t('ship_addr')
            = render 'address_fields', :f => user_form
        .checkbox
          %label
            = check_box_tag 'bill-checkbox', '1', false, { autocomplete: "off" }
            = t('bill_same')

    .panel.panel-default.form-group.row#bill-show
      .col-xs-12    
        .form-group#check-out-bill
          = f.label t('select_bill_addr')
          %br
          = f.collection_select(:bill_addr_id, @addresses, 
                              :id, :full, { :include_blank => t('please_select') }, { class: 'selectpicker' } )
          %br
          = link_to "or add new", '#', class: "tab", id: 'check-out-bill-switch'
        .form-group.hidden#check-out-bill-hidden
          = f.fields_for(:bill_addr) do |user_form|
            = f.label t('bill_addr')
            = render 'address_fields', :f => user_form
                  
    .panel.panel-default.form-group.row
      .col-xs-12
        .form-group#check-out-card
          = f.label t('select_card')
          %br
          = f.collection_select(:credit_card_id, current_customer.credit_cards,
                              :id, :number, { :include_blank => t('please_select') }, { class: 'selectpicker' } )
          %br
          = link_to t('or_add_new'), '#', class: "tab", id: 'check-out-card-switch'
        .form-group.hidden#check-out-card-hidden
          = f.fields_for(:credit_card) do |user_form|
            = f.label t('card_info')
            = render 'card_fields', :f => user_form
                   
    = f.submit t('check_out'), class: "btn btn-default"     