= form_tag "/books/filter", id: "filter", class: "form-inline" do

  = collection_select(nil, "authors_id", Author.all, :id, :full_name, {:selected => params[:authors_id]},
                      { class: 'selectpicker', multiple: true, "data-selected-text-format" => "count",
                        "data-live-search" => true, title: t('author_filter') })
           
  = collection_select(nil, "categories_id", Category.all, :id, :title, {:selected => params[:categories_id]},
                      { class: 'selectpicker', multiple: true, "data-selected-text-format" => "count",
                        "data-live-search" => true, title: t('category_filter') })
                        
  = collection_select(nil, "books_id", Book.all, :id, :title, {:selected => params[:books_id]},
                      { class: 'selectpicker', multiple: true, "data-selected-text-format" => "count",
                        "data-live-search" => true, title: t('book_filter') })
  
  %span.btn-group
    = submit_tag t('apply'), class: "btn btn-default"
    = submit_tag t('reset'), class: "btn btn-default"
  