= form_for @book do |f|
  - if @book.errors.any?
    #error_explanation
      %h2= "#{pluralize(@book.errors.count, "error")} prohibited this book from being saved:"
      %ul
        - @book.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :descirption
    = f.text_field :descirption, class: 'form-control'
  .form-group
    = f.label :price
    = f.text_field :price, class: 'form-control'
  .form-group
    = f.label :in_stock
    = f.text_field :in_stock, class: 'form-control'
  - if @book.new_record?
    .form-group
      = f.label "author:"
      = collection_select(:authors, :id, Author.all - @book.authors, :id, :full_name, {:include_blank => 'Please Select'}, { class: 'selectpicker' })
    .form-group
      = f.label "category:"
      = collection_select(:categories, :id, Category.all - @book.categories, :id, :title, {:include_blank => 'Please Select'}, { class: 'selectpicker' })
  .actions
    = f.submit 'Save', class: 'btn btn-default'
