- provide(:title, t('list_books'))
.container-fluid
  .row
    .col-xs-9
      .row
        - @books.each do |book|
          .squad
            .center
              .thumb-image-wrapper
                = link_to image_tag(book.shot.thumb.url), book_path(book)
              %h5
                = link_to book.title, book_path(book)
              %h4= "$#{book.price}"
      .center
        = paginate @books
    .col-xs-3
      SHOP BY CATEGORIES
      - @categories.each do |category|
        = link_to category.title, "/books/category/#{category.id}"
