- provide(:title, 'Listing books')
.panel.panel-default
  .panel-heading Books filtering
  .panel-body.container
    = form_tag "/books/filter", id: "filter", class: "form-inline" do

      = collection_select(nil, "authors_id", Author.all, :id, :full_name, {:selected => params[:authors_id]},
                          { class: 'selectpicker', multiple: true, "data-selected-text-format" => "count",
                            "data-live-search" => true, title: 'Authors filter' })
               
      = collection_select(nil, "categories_id", Category.all, :id, :title, {:selected => params[:categories_id]},
                          { class: 'selectpicker', multiple: true, "data-selected-text-format" => "count",
                            "data-live-search" => true, title: 'Categories filter' })
                            
      = collection_select(nil, "books_id", Book.all, :id, :title, {:selected => params[:books_id]},
                          { class: 'selectpicker', multiple: true, "data-selected-text-format" => "count",
                            "data-live-search" => true, title: "Book's titles filter" })
      
      %span.btn-group
        = submit_tag "Apply", class: "btn btn-default"
        = submit_tag 'Reset', class: "btn btn-default"
      

%table.table.table-striped
  %thead
    %tr.heading
      %th Title
      %th Price
      %th Rating
      %th In stock
      - if can? :manage, Book
        %th
        %th
      %th
  %tbody
    - if @books
      - @books.each do |book|
        %tr
          %td= link_to book.title, book
          %td= book.price
          %td= book.rating || "not rated"
          %td= book.in_stock
          - if can? :manage, Book
            %td= link_to 'Edit', edit_book_path(book)
            %td= link_to 'Destroy', book, :method => :delete, :data => { :confirm => 'Are you sure?' }
          %td= link_to 'Add to cart', "#{orders_path}/add_item/#{book.id}", :method => :post if book.in_stock > 0

%br


