- provide(:title, t('list_address'))
%h1 Listing addresses

%table.table.table-striped
  %thead
    %tr.heading
      %th Country
      %th Address
      %th Zipcode
      %th City
      %th Phone
      %th
      %th
      %th
  %tbody
    - @addresses.each do |address|
      %tr
        %td= address.country
        %td= address.address
        %td= address.zipcode
        %td= address.city
        %td= address.phone
        %td= link_to t('show'), address
        %td= link_to t('edit'), edit_address_path(address)
        %td= link_to t('destroy'), address, :method => :delete, :data => { :confirm => t('confirm') }

%br

= link_to t('new_address'), new_address_path
