- provide(:title, t('show_address'))
%p
  %b= t('country')
  = @address.country
%p
  %b= t('address')
  = @address.address
%p
  %b= t('zipcode')
  = @address.zipcode
%p
  %b= t('city')
  = @address.city
%p
  %b= t('phone')
  = @address.phone

= link_to t('edit'), edit_address_path(@address)
\|
= link_to t('back'), addresses_path
