%h1 Navigation
.row.container
  .panel.panel-default.col-xs-4
    .panel-body
      .form-group
        %b Navigate by author:
        = form_tag "/books/filter_author", id: "sort_by_author" do
          = collection_select("authors_filter", "id", Author.all, :id, :full_name, { :include_blank => 'Please Select' }, { class: 'selectpicker' })
          %br
          = submit_tag "Search", class: "btn btn-default"
  .panel.panel-default.col-xs-4.col-md-offset-1
    .panel-body
      .form-group
        %b Search by book title:
        = form_tag "/books/filter_title", id: "sort_by_book" do
          = text_field_tag :title, "", class: "form-control"
          %br
          = submit_tag "Search", class: "btn btn-default"
.panel.panel-default.panel-body
  %table
    %tr
      %th 
        %b Navigate by category:
    - @categories.each do |category|
      %tr
        %td= link_to category.title, "/books/category_select/#{category.id}"
  

%br