%nav.navbar.navbar-default
  .navbar-header
    = link_to 'Amazon', root_path, class: 'navbar-brand', id: "logo"
  - if can? :manage, Rating
    %ul.nav.navbar-nav
      - if can? :access, :rails_admin
        %li.admin= link_to 'Admin Panel', rails_admin_path
      %li.admin= link_to 'Check ratings', ratings_check_ratings_path
  %ul.nav.navbar-nav.pull-right
    - if customer_signed_in?
      %li= link_to "Recent orders", orders_path
      %li= link_to "Profile", customer_path
      %li= link_to "Cart", order_path(current_customer.cart), id: "cart" #if something in cart
      %li= link_to "Logout", destroy_customer_session_path, :method => :delete
    - else
      %li= link_to "Login", new_customer_session_path
      %li= link_to "Register", new_customer_registration_path
.container.center_box
  - flash.each do |key, message|
    - if message.is_a? Array
      - message.each do |m|
        .alert{class: "alert-#{key}"}= m
    - else
      .alert{class: "alert-#{key}"}= message