%nav.navbar.navbar-default
  .navbar-header
    = link_to t('store_name'), root_path, class: 'navbar-brand', id: 'logo'
  %ul.nav.navbar-nav
    - if can? :access, :rails_admin
      %li.admin= link_to t('admin_panel'), rails_admin_path
    %li= link_to t('list_books'), books_path  
  %ul.nav.navbar-nav.pull-right
    - if customer_signed_in?
      %li= link_to t('history'), recent_orders_path
      %li= link_to t('profile'), customer_path
      %li= render_cart
      %li= link_to t('logout'), destroy_customer_session_path, :method => :delete
    - else
      %li= link_to t('facebook'), customer_omniauth_authorize_path(:facebook)
      %li= render_cart
      %li= link_to t('login'), new_customer_session_path
      %li= link_to t('register'), new_customer_registration_path
.container.center_box
  - flash.each do |key, message|
    - if message.is_a? Array
      - message.each do |m|
        .alert{class: "alert-#{key}"}= m
    - else
      .alert{class: "alert-#{key}"}= message